body{
    background-color: rgb(15, 15, 15);
    font-family: "Press Start 2P", "consolas";
    background-image: url(Images/Elder-Scrolls-Online-Best-Dragonknight-Builds-Feature.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

h1{
    color:rgb(199, 139, 190);
    font-family: "Roboto",sans-serif;
    letter-spacing: 25px;
    font-size: 35px;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: solid;
}

#menu-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
    font-size: 18px;
}

.menu-item{
    color: rgba(255, 159, 117, 0.834);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 5vh;
    width: 20vw;
    border-radius: 10px;
    margin-top: 1%;
    border: 1px solid rgba(255, 159, 117, 0.1);
}

#a1{
    margin: 0%;
}

#a2{
    margin-left: 10%;
}

#a3{
    margin-left: 10%;
}

.menu-item:hover{
    color: rgb(250, 187, 142);
    border: 1px solid rgba(255, 159, 117, 0.2);
}

#box1{
    border: 1px hidden;
    width: 1000px;
    height: 200px;
    color:silver;
    font-size: 18px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

h2{
    font-family: "consolas";
    padding-top: 5px;
    color:rgb(128, 242, 198);
    font-size: 16px;
    text-decoration: underline;
    text-decoration-color: rgba(192, 192, 192, 35%);
}

.details{
    display: block;
    padding: clamp(1rem, 0.5vw, 1rem) 0rem;
    width: 100%;
    height: 100%;
    padding-bottom: 4%;
}

#race{
    margin-top: 30px;
    font-family: "consolas";
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    color: rgb(128, 242, 198);
    text-decoration: underline;
    text-decoration-color: rgba(192, 192, 192, 35%);
}

#box2{
    border: 1px hidden;
    width: 700px;
    height: 500px;
    color:silver;
    font-size: 18px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#skill_link{
    color: silver;
    text-decoration: none;
}

#skill_link:hover{
    color: rgb(199, 130, 190);
}

.skills{
    border: 1px solid rgba(192, 192, 192, 35%);
    border-radius: 10px;
    margin-top: 30px;
    transition: transform 600ms ease;
}
.skills:hover{
    transform: scale(2, 2);
}

#setbox{
    border: 1px hidden;
    width: 700px;
    height: 600px;
    color:silver;
    font-size: 18px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#set_link{
    color: silver;
    text-decoration: none;
}
#set_link:hover{
    color: rgb(199, 130, 190);
}
.sets{
    border: 1px solid rgba(192, 192, 192, 35%);
    border-radius: 10px;
    margin-top: 30px;
    transition: transform 600ms ease;
}
.sets:hover{
    transform: scale(2, 2);
}

#passivesbox{
    border: 1px hidden;
    width: 1500px;
    height: 600px;
    color:silver;
    font-size: 18px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#passive_link{
    color: silver;
    text-decoration: none;
}
#passive_link:hover{
    color: rgb(199, 130, 190);
}
.passives{
    border: 1px solid rgba(192, 192, 192, 35%);
    border-radius: 10px;
    margin-top: 30px;
    transition: transform 600ms ease;
}
.passives:hover{
    transform: scale(2.2, 2.2);
}

.passives2{
    border: 1px solid rgba(192, 192, 192, 35%);
    border-radius: 10px;
    margin-top: 30px;
    transition: transform 600ms ease;
}
.passives2:hover{
    transform: scale(2.5, 2.5);
}